// Бокс працівника
.box-employment{
    justify-content: space-between;
    &-item {
        background-color: var(--color-background-other);
        border-bottom-left-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
        box-shadow: 0px 1px 0.187rem var(--color-secondary);
        max-width: 450px;
        width: 100%;

        @include media-min (768px) {
            max-width: 354px;
        }
        @include media-min (1200px) {
            max-width: 270px;
        }
        
        &:not(:last-child) {
            @include media-max (480px) {
                margin-bottom: 1.875rem;
            }
        }
    }
    &__wrap {
        padding: 1.875rem 0;
    }
    &__name {
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
        margin-bottom: 0.625rem;
    }
    &__text {
        color: var(--color-secondary);
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
    }
    &__thumb {
        margin-top: 1rem;
    }
}