/* Лого футер */
.logo__footer-page {
    margin-bottom: 1.25rem;
}
.logo__first-half-footer {
    color: var(--color-accent);
}
.logo__secondary-half-footer {
    color: var(--color-background-other);
}