/* Радіо кнопки */
.radio-button { 
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3.125rem;
    @include media-min (768px){
        justify-content: center;
    }
    &__outer-margin:not(:last-child) {
        margin-right: 0.5rem;

        &:not(:last-child) {
            @include media-max (276px) {
                margin-bottom: 0.975rem;
            }
        }
        &:nth-child(-n + 3) {
            @include media-max (768px) {
                margin-bottom: 0.975rem;   
            }
        }
    }
    &__button {
        background-color: var(--color-background-third);
        color: var(--color-primary);
        font-family: var(--font-family-primary);
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.62; 
        text-align: center;
        letter-spacing: 0.03em;
        cursor: pointer;
        border: 1px solid var(--color-background-third);
        border-radius: 0.25rem;
        padding: 0.375rem 1.375rem;
        transition: color var(--default-transition),
        border var(--default-transition),
        box-shadow var(--default-transition),
        background-color var(--default-transition);
        /* Радіо кнопки ховер, фокус */
        &:hover,
        &:focus {
            background-color: var(--color-background-accent);
            color: var(--color-other);
            border: 1px solid var(--color-background-accent) ;
            box-shadow: 0px 1px 0.187rem var(--color-secondary);
        }
    }
}