/* Modal */
.modal {  
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 28.125rem;
    width: 100%;
    max-height: 36.375rem;
    height: 100%;
    background-color: var(--color-background-other);
    box-shadow: 0px 1px 0.187rem rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
    cursor: auto;
    transform: translate(-50%,-50%);
    overflow: auto;
    @include media-min (1200px) {
        max-width: 33rem;
    }
    &__thumb {
        display: flex;
        flex-direction: column;
        
    }
    &__button {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        width: 1.875rem;
        height: 1.875rem;
        border-radius: 100%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background-color: var(--color-background-other);
        cursor: pointer;
    }
    &__icon-close {
        width: 100%;
        height: 100%;
        padding: 0.187rem; 
        transition: fill var(--default-transition);
        .modal__button:focus &,
        .modal__button:hover & {
            fill: var(--color-accent);
        }
    }
    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 1.25rem;
        line-height: 1.15;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--color-primary);
        margin-top: 2.5rem;
        @include media-max (1200px) {
            padding: 0 3rem 0 3rem;
        }
    }
}